https://github.com/druids/germanium/tarball/2.0.3#egg=germanium-2.0.3
https://github.com/Formulka/django-perms/tarball/master#egg=django-perms-master

https://github.com/matllubos/django-is-core/tarball/NewDjangoSupport#egg=django-is-core-2.8.13
https://github.com/druids/django-pyston/tarball/NewDjangoVersions#egg=django-pyston-2.7.15
